<div class="row">
    <div class="col-lg-7"></div>
    <div class="col-lg-3">
        <div class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{selectedLanguage}}<b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="language in availableLanguages">
                    <a ng-click="element.changeLanguage(language)">{{language}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row" ng-repeat="element in contentElements">
    <div class="row">
        <div class="col-lg-7 col-xs-12">{{element.SelectedValue.Value}}</div>
        <div class="col-lg-3 col-xs-12">
            <div class="row col-xs-12">
                <div class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">{{element.SelectedValue.Language}}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" ng-repeat="language in element.Languages">
                            <a ng-click="element.changeLanguage(language)">{{language}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row col-xs-12">{{element.Category}}</div>
        </div>
        <div class="col-lg-1 col-xs-4">
            <a href="#/edit/{{element.ContentElementId}}/{{element.SelectedValue.Language}}" class="btn btn-primary btn-xs">Edit</a>
        </div>
        <div class="col-lg-1 col-xs-4">
            <a href="#/delete" class="btn btn-danger btn-xs">Delete</a>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-lg-1 col-lg-offset-10">
        <a href="#/add/en" class="btn btn-success">New</a>
    </div>
</div>