<div class="row" ng-repeat="element in contentElements">
    <div class="row">
        <div class="col-lg-7 col-xs-12">{{element.Value}}</div>
        <div class="col-lg-3 col-xs-12">
            <div class="row col-xs-12">{{element.Language}}</div>
            <div class="row col-xs-12">{{element.Category}}</div>
        </div>
        <div class="col-lg-1 col-xs-4">
            <button type="button" class="btn btn-primary btn-xs">Edit</button>
        </div>
        <div class="col-lg-1 col-xs-4">
            <button type="button" class="btn btn-danger btn-xs">Delete</button>
        </div>
    </div>
    <div class="row">
        <hr />
    </div>
</div>